.skillsBlock {
    height: 100vh;
    background-color: #2e3f1b;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: darkblue;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}